@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">Контакт</h2>

    <address>
        Улица Бел Камен бб.<br />
        Виница, Македонија<br />
        Телефон: 076 492 044
    </address>

    <address>
        <strong>Поддршка:</strong>   <a href="mailto:Support@example.com">bojan.business04@gmail.com</a><br />
    </address>
</main>